/*----------------------INDEX--------------*/

.index__fondo{
    background-color: black;
    height: 100vh;
    width: 100%;
}


.index__bienvenida {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.index__imgBienvenida{
    width: 300px;
    border: 0px red solid;
    margin: 65px 0 0 0;
}

.index__textoBienvenida{
    display: inline-block;
    margin: 70px 0 0 30px ;
    border:0px solid blue;
}

.index__textoBienvenida--2{
    display: none;
    margin: 70px 0 0 30px ;
    border:0px solid blue;
}


.index__hola {
    text-align: left;
    color: aliceblue;
    font-size: 150pt;
    font-family: 'Anton', sans-serif;
    margin: 0 0 0 -7px;
}

.index__bienvenido {
    text-align: left;
    color: aliceblue;
    font-size: 35pt;
    font-family: 'Anton', sans-serif;
    letter-spacing: 0px;
    padding: 0;
    margin: 0;
    border: 0;
}

.index__descripcion{
    text-align: left;
    font-size:10pt;
    color: white;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
}